<div class="mat-display-2 heading">Card component</div>

<div class="card-wrp">

    <mat-card>
        <mat-card-title>
            Card title
        </mat-card-title>
        <mat-card-content>
            Card content blablabla.   
        </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button> Login </button>    
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>
        Card title
    </mat-card-title>
    <mat-card-content>
        Card content blablabla.   
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button> Login </button>    
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>
        Card title
    </mat-card-title>
    <mat-card-content>
        Card content blablabla.   
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button> Login </button>    
    </mat-card-actions>
</mat-card>

</div>
