<div class="mat-display-2">Buttons component</div>

<!--Button types -->
<div>
    <button mat-button> Material Button</button> 
    <button mat-raised-button> Material Raised Button</button> 
    <button mat-flat-button> Material Flat Button</button> 
    <button mat-stroked-button> Material Flat Button</button>
</div>

<!-- Icon button types-->
<div>
    <button mat-icon-button> Icon </button>       
    <button mat-fab> Icon </button>       
    <button mat-mini-fab> Icon </button>       
</div>

<!-- Button colors-->
<div>
    <button color="primary" mat-raised-button> Primary </button> 
    <button color="accent" mat-raised-button> Accent </button> 
    <button color="warn" disableRipple mat-raised-button> Warn</button>     <!-- No ripple effect on click-->
    <button color="warn" mat-raised-button> Warn</button>    
    <button color="primary" mat-stroked-button> Primary </button> 
    <button color="accent" mat-stroked-button> Accent </button> 
    <button color="warn" mat-stroked-button> Warn</button>    
</div>


