<!-- typography -->

<!-- used for page headings-->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<!-- used for section headings-->
<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<!--used for Body text -->
<div class="mat-body-1">This is is body text</div>
<div class="mat-body-2">This is is body text</div>
<div class="mat-caption">This is is caption text</div>

<!-- Typography class -->
<!-- These are the same as headlin/title/subheading-->
<div class="mat-typography">
    <h1>This is heading for h1</h1>
    <h2>This is heading for h2</h2>
    <h3>This is heading for h3</h3>
    <h4>This is heading for h4</h4>
</div>


<!--buttons component -->
<app-buttons></app-buttons>

<!-- Button-toggle component-->
<app-button-toggle></app-button-toggle> 

<!-- Icons component-->
<app-icons></app-icons> 

<!-- Badges component-->
<app-badges></app-badges>   

<!-- progress-spinner component-->
<app-progress-spinner></app-progress-spinner>

<!-- app-toolbar component-->
<app-toolbar></app-toolbar>   

<!-- sidenav component-->
<app-sidenav></app-sidenav>

<!-- menu component-->
<app-menus></app-menus>

<!-- list component-->
<app-list></app-list>

<!-- grid-list component-->
<app-grid-list></app-grid-list>

<!-- expansion component-->
<app-expansion></app-expansion>

<!-- expansion component-->
<app-card></app-card>

<!-- expansion component-->
<app-tabs></app-tabs>

<!-- expansion component-->
<app-stepper></app-stepper>

<!-- expansion component-->
<app-input></app-input>

<!-- expansion component-->
<app-select></app-select>

<!-- expansion component-->
<app-autocomplete></app-autocomplete>

<!-- expansion component-->
<app-checkbox></app-checkbox>

<!-- expansion component-->
<app-radio></app-radio>

<!-- expansion component-->
<app-datepicker></app-datepicker>

<!-- expansion component-->
<app-tooltip></app-tooltip>

<!-- expansion component-->
<app-snackbar></app-snackbar>

<!-- expansion component-->
<app-dialog></app-dialog>

<!-- expansion component-->
<app-table></app-table>

